@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

/* header */

header {
  text-align: center;
  color: #333333;
  padding-top: 5rem;
  padding-bottom: 10rem;
  background-color: #e2dfdf;
}

header h1 {
  font-size: 6rem;
  font-weight: 700;
  /* letter-spacing: 0.1rem; */
}

header h4 {
  font-size: 2.4rem;
}

/* main */

main .profile {
  max-width: 16rem;
  border-radius: 50%;
  display: block;
  margin: -8rem auto 0;
  border: 1rem solid #fff;
}

main p {
  font-size: 1.8rem;
  text-align: center;
  max-width: 122rem;
  margin: auto;
  margin-top: 3rem;
  padding: 0 5%;
}

main .icons {
  text-align: center;
  margin: 3rem 0 8rem 0;
}

main .icons a img {
  max-width: 4rem;
  display: inline-block;
  margin: 0 1.5rem 0 1.5rem;
}

/* section-1 */

.section-1 {
  text-align: center;
  background-color: #ddedff;
  padding: 5rem 5%;
}

.section-1 h2 {
  font-size: 3.6rem;
  color: #333333;
}

.section-1 img {
  margin: 5.5rem 0;
  max-width: 44rem;
}

.section-1 p {
  font-size: 1.8rem;
  text-align: center;
  max-width: 122rem;
  margin: auto;
  padding: 0 5%;
}

.section-1 button {
  background-color: #1e90ff;
  color: #fff;
  padding: 0.7%;
  font-size: 1.8rem;
  border: none;
  border-radius: 0.6rem;
  margin-top: 5rem;
  cursor: pointer;
}

/* .section-2 */

.section-2 {
  text-align: center;
  padding: 5rem 5%;
  background-color: #faebd7;
}

.section-2 h2 {
  font-size: 3.6rem;
  color: #333333;
}

.section-2 img {
  max-width: 36rem;
  border-radius: 1.5rem;
  margin: 5rem 0;
}

.section-2 p {
  font-size: 1.8rem;
  text-align: center;
  max-width: 122rem;
  margin: auto;
  padding: 0 5%;
}

.section-2 button {
  background-color: #333333;
  color: #fff;
  padding: 0.7% 1%;
  font-size: 1.8rem;
  border: none;
  border-radius: 0.6rem;
  margin-top: 5rem;
  cursor: pointer;
}

/* footer */

footer {
  text-align: center;
  padding: 2rem;
  color: #fff;
  background-color: #333333;
  font-size: 1.8rem;
}

/* media query */

@media (max-width: 1200px) {
  html {
    font-size: 61.5%;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 60%;
  }

  .section-2 img {
    max-width: 34rem;
    border-radius: 1.4rem;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 58%;
  }

  .section-2 img {
    max-width: 32rem;
    border-radius: 1.3rem;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 55%;
  }
  .section-1 img {
    max-width: 36rem;
  }

  .section-2 img {
    max-width: 30rem;
    border-radius: 1.2rem;
  }
}
